<section class="food-list-panel">
  <div ng-repeat="(key, value) in myObj" >
    <div class="row">
        <div class="col-xs-12">
          <div class="header-panel">
            <div class="row">
                <div class="list-food">
                  <img src="./assets/images/food1.jpg"  class="cover_image">
                    <div class="price">100 ฿</div>
                    <img src="./assets/images/grandma1.png" class="img-circle">
                </div>
            </div>
          </div>
          <div class="detail-panel">
            <div class="row">
              <div class="col-xs-12">
                <label>MONDAY : PAD THAI EXTRODINAIRE</label>
                <p>5 - 9 pm Ladprao soi 41/1</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>