@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700");
body {
    font-family: 'Open Sans';
}

.food-day-panel img {
	width: 370px;
	height: 200px;
}

.section-panel {
	position: relative;
}

/*navbar layout*/
.navbar-panel img {
	width: 220px;
	padding: 15px;
}
/*search box*/
.search-panel {
	padding: 15px;
}
.search-panel .icon-addon {
	position: relative;
}
.search-panel .icon-addon .form-control {
	text-indent: 30px;
	color: rgb(164,164,164);
}
.search-panel .icon-addon i {
	position: absolute;
	top:10px;
	left: 15px;
}
/* food list component */
.food-list-panel .header-panel .list-food {
	position: relative;
	margin-bottom: 10px;
	margin-top: 10px;
	

}
.food-list-panel .header-panel .list-food .cover_image  {
	width: 100%;
	height: 200px;
	background: url("../../../.../../assets/images/Photo_filter.png");
	background-blend-mode : multiply;
	mix-blend-mode: multiply;

}
.food-list-panel .header-panel .list-food .price {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #FFF;
  font-size: 23px;
  font-weight: bold;
}
.food-list-panel .header-panel .list-food .img-circle {
	position: absolute;
  bottom: -25px;
  right: 0px;
  width: 60px;
  height: 60px;
  border: 3px solid #FFF;
}
.food-list-panel .detail-panel label  {
	text-transform: uppercase;
	line-height:0.1px;
	font-size: 16px;
}
.food-list-panel .detail-panel p  {
}

/*food-product*/
.food-product .header-panel .cover-image img {
	width: 100%;
	height: 200px;
}
.food-product .header-panel .owner-image img {
	width: 65px;
	height: 65px;
	border: 3px solid #FFF;
	position: absolute;
	right: 20px;
  bottom: -30px;
}
.food-product  .detail-panel {
	padding: 20px;
}
.food-product  .detail-panel button , .process-payment .payment-choose button  {
	background-color: #CA8423;
	border: 0;
	border-radius: 0px;
	width: 200px;
	text-transform: uppercase;
	color: #FFF;
}

/**/
.process-payment.checkout .payment-detail , .process-payment.checkout .payment-choose  {
	padding: 10px;
}
.process-payment.checkout .payment-detail .amount {
  padding: 10px 0px 10px 0px;
  border: 2px solid;
  width: 50px;
  text-align: center;
}
.process-payment.checkout .payment-detail {
	text-align: center;
  padding: 20px;
}
.process-payment.checkout .payment-choose .submit-panel {
	text-align: center;
  padding: 20px;
}
/* process-payment  */
.process-payment.complete .alert-success {
	border: 4px solid rgb(101,118,34);
	margin-top: 30px;
  border-radius: 5px;
}
.process-payment.complete .alert-success i {
	padding: 20px;
  line-height: 55px;
  font-size: 33px;
}
.process-payment.complete .alert-success p {
	margin: 5px 0px 17px 5px;
}

.process-payment.complete .alert-success p {
  padding: 15px;
}
.process-payment.complete .alert-success p span {
	display: block;
}
.process-payment.complete .alert-success p span:last-child {
	font-weight: bolder;
}
.process-payment.complete .other-event {
	 text-align: center;
  padding: 10px;
  font-size: 17px;
  color: #767676;
}
.process-payment.complete .other-event a {
	text-decoration: none;
}
.process-payment.complete .other-event a span{
	padding-bottom: 3px;
	color: #767676;
  border-bottom: 1px solid #767676;
}
